<section class="section">
  <h2 class="section-title"><span>01.</span><span>About</span></h2>
  <div class="section-content">
    <p>I am a <a href="http://howtoholdapencil.com/episodes/013/">self taught</a> front-end developer who has an eye for web design. I built my first website out of necessity for a small video production company I had created with my buddy in my early twenties. We wanted a place to share our videos and look "professional". Years later and I am now a full time developer working at Mighty in the Midwest in Grand Rapids, Michigan.</p>
    <p>Outside of work I love spending time with my wife and our dog <a href="https://www.instagram.com/p/00k5NpmyBi/">Bongo</a>. We enjoy getting out into the local rivers and doing some <a href="https://www.instagram.com/p/3FgTrpGyKV/">fly fishing</a> and kayaking.</p>
  </div>
</section>
